CONSULTAS EN SQL & MANEJO DE TABLAS POR MEDIO DE PANDAS

In [ ]:
import sqlite3
import pandas as pd

#Crear el archivo o cargar la ruta del archivo con el cual trabajar
conexion = sqlite3.connect("db_demo.db")

c = conexion.cursor()

#Cargar atributos de la base de datos para dos tablas
c.execute("""CREATE TABLE DEMO1 (
                id INT PRIMARE KEY NOT NULL,
                nombre TEXT NOT NULL,
                sueldo INT NOT NULL,
                total_horas INT NOT NULL        
                )""")

c.execute("""CREATE TABLE DEMO2 (
                id INT PRIMARE KEY NOT NULL,
                sexo TEXT NOT NULL,
                productividad total_horas INT NOT NULL        
                )""")

conexion.commit()
conexion.close()

In [ ]:
conexion = sqlite3.connect("/Users/ari97ag/Python/BI_Python/db_demo.db")

#Carga de observaciones
c = conexion.cursor()

LISTA_GENTE1=[(1,"Marjiory",1000000,20),
             (2,"Arí",500000,45),
             (3,"Silvana",540000,40),
             (4,"Daniela",2000000,10),
             (5,"Coté",700000,30)]

c.executemany("INSERT INTO DEMO1 VALUES (?,?,?,?)",LISTA_GENTE1)

LISTA_GENTE2=[(1,"F",6),
             (2,"M",5),
             (3,"F",4),
             (4,"F",5),
             (5,"F",7)]

c.executemany("INSERT INTO DEMO2 VALUES (?,?,?)",LISTA_GENTE2)

conexion.commit()

conexion.close()

In [ ]:
conexion = sqlite3.connect("/Users/ari97ag/Python/BI_Python/db_demo.db")

#Consulta 1
print("Consulta 1 (SQL)")
c = conexion.cursor()
c.execute("SELECT * FROM DEMO1")
query1=pd.DataFrame(c.fetchall(),columns=["id","nombre","sueldo","total_horas"])
print(query1)
print()
pandita1 = query1
conexion.commit()
conexion.close()

#Tabla 1
print("Tabla 1 (PANDAS)")
print(pandita1)
print()

In [ ]:
conexion = sqlite3.connect("/Users/ari97ag/Python/BI_Python/db_demo.db")

#Consulta 2
print("Consulta 2 (SQL)")
c = conexion.cursor()
c.execute("SELECT * FROM DEMO2")
query2=pd.DataFrame(c.fetchall(),columns=["id","sexo","productividad"])
print(query2)
print()
pandita2 = query2
conexion.commit()
conexion.close()

#Tabla o consulta 2
print("Tabla 2 (PANDAS)")
print(pandita2)
print()

In [ ]:
conexion = sqlite3.connect("/Users/ari97ag/Python/BI_Python/db_demo.db")

#Consulta 3
print("Consulta 3 (SQL)")
c = conexion.cursor()
c.execute("SELECT *, sueldo / total_horas AS sueldo_hora FROM DEMO1")
query3=pd.DataFrame(c.fetchall(),columns=["id","nombre","sueldo","total_horas","sueldo_hora"])
print(query3)
print()
conexion.commit()
conexion.close()

#Tabla o Consulta 3
print("Tabla 3 (PANDAS)")
print(pandita1.assign(sueldo_hora=pandita1['sueldo'] / pandita1['total_horas']).head())
print()

In [ ]:
conexion = sqlite3.connect("/Users/ari97ag/Python/BI_Python/db_demo.db")

#Consulta 4
print("Consulta 4 (SQL)")
c = conexion.cursor()
c.execute("SELECT * FROM DEMO1 WHERE sueldo==500000 AND total_horas>=45")
query4=pd.DataFrame(c.fetchall(),columns=["id","nombre","sueldo","total_horas"])
print(query4)
print()
conexion.commit()
conexion.close()

#Tabla o Consulta 4
print("Tabla 4 (PANDAS)")
print(pandita1[(pandita1['sueldo'] == 500000) & (pandita1['total_horas'] >= 45)])
print()

In [ ]:
conexion = sqlite3.connect("/Users/ari97ag/Python/BI_Python/db_demo.db")

#Consulta 5
print("Consulta 5 (SQL)")
c = conexion.cursor()
c.execute("SELECT sexo, COUNT(*) FROM DEMO2 GROUP BY sexo")
query5=pd.DataFrame(c.fetchall(),columns=["sexo","cant"])
print(query5)
print()
conexion.commit()
conexion.close()

#Tabla o Consulta 5
print("Tabla 5 (PANDAS)")
print(pandita2.groupby('sexo').size())
print()

In [ ]:
conexion = sqlite3.connect("/Users/ari97ag/Python/BI_Python/db_demo.db")

#Consulta 6
print("Consulta 6 (SQL)")
c = conexion.cursor()
c.execute("SELECT DEMO1.id, DEMO1.nombre, DEMO1.sueldo, DEMO1.total_horas, DEMO2.sexo,"
          "DEMO2.productividad FROM DEMO1 JOIN DEMO2 ON DEMO1.id = DEMO2.id AND DEMO2.id = DEMO1.id")
query6=pd.DataFrame(c.fetchall(),columns=["id","nombre","sueldo","total_horas","sexo","productividad"])
print(query6)
print()
conexion.commit()
conexion.close()

#Tabla o Consulta 6
print("Tabla 6 (PANDAS)")
print(pd.merge(pandita1, pandita2, on='id'))